{{define "neural"}}
<div rel="prefetch"  class="tab-pane fade" id="neural" role="tabpanel" aria-labelledby="neural-tab">
    <meta name="description" content="Neural Network page after sign up">
  <meta name="keywords" content="zachary endrulat neurla network">
  <meta name="author" content="zachary endrulat">
  <meta name="robots" content="follow, index">
  <br>
  <br>
  <br>
<!-- #data -->
<div class="row">
    <div class=" s12 m12">
        <p class="par">
          <div class="w-1-1">
            <center>
              <div class="box-base box-con wsl br-l  box-s">
                <center class="box-m">Neural Networks</center>
                <center class="forms"><i class="fa-solid fa-brain fa-1x termlogo"></i></center>
                <div>
                  <p>
                  <br> <br> <br>
                  <a href="https://nnfs.io/"><i class="fa-solid fa-book fa-7x fa-beat termlogo box" ></i>book &nbsp;&nbsp;</a> <a href="https://idx.dev/"><i class="fa-solid fa-code fa-7x fa-beat termlogo box"></i>IDX &nbsp; &nbsp;</a> <a href="https://youtu.be/r3IRFnUmqAU"><i class="fa-brands fa-youtube fa-7x fa-beat termlogo box"></i>YouTube</a>
                  </p>
                </div>
              </div>
            </center>
          </div>
          
        </p>
</div>
<div class="col s12 m2">
        <p class="par">
         I have used the IDX editor to create examples of a bare basic natural language processing with neural networks. <a href="https://go.dev/play/p/xl7DXwd3uTX">example</a>
          
       </p>
</div>
</div>
{{end}}
